.bck {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 12px 0;

  line-height: 19px;
  font-size: 16px;
  background-color: #37475b;
}
.bck :hover {
  display: block;
  padding: -12px 0;
  background-color: rgb(82, 97, 138);
  margin: 5px;
  line-height: 20px;
}
.bck > a {
  text-decoration: none;
  color: white;
}
.info {
  background-color: #232f3e;
  display: flex;
  padding-top: 40px;
  color: #fff;
}
.info_title {
  font-weight: 400;
  text-align: left;
  padding-left: 30px;
}
.info_list {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 4px;
  text-shadow: black;
}
.footer_img {
  margin-top: 10px;
  margin-bottom: 20px;
  object-fit: contain;
  padding-bottom: 20px;
  width: 80px;
  height: 60px;
  margin-left: 500px;
}
.footer_owner {
  margin-top: 15px;
  color: #fff;
  margin-left: -10px;
  font-weight: bolder;
}
.footer_footer {
  background-color: #131a22;
}
